.pro-card {
  padding: 5rem 0;
}
.pro-card a {
  color: #fff;
}
.pro-card .card {
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.pro-card .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.pro-card .card .card-title {
  font-size: 30px;
  opacity: 0;
  transition:opacity  0.3s;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.pro-card .card::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: green;
  position: absolute;
  transform: translateY(500px);
  opacity: 0.6;
  transition: 0.3s;
}

.pro-card .card:hover .card-title {
  opacity: 1;
 
}

.pro-card .card:hover::after {
  transform: translateY(0px);
}

.view-button {
  position: absolute;
  z-index: 100;
  border: 1px solid #fff;
 
  padding: 2px 30px;
  cursor: pointer;
  bottom: 2%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.pro-card .card:hover .view-button {
  opacity: 1;
}





