.footer {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 3rem 0 3rem 0;
    text-transform: capitalize;
    margin-top: 30px;
}

.footer .inner-con {
    display: flex;
    justify-content: space-between;
}

.footer .inner-con .right i {
    font-size: 25px;
    margin: 2rem 1rem;
}

.footer li {
    list-style: none;
}

.footer a {
    color: white;
}

@media (max-width: 475px) {
    .left h3 {
        font-size: 18px;
    }
}
